* {
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: rgb(112, 67, 4);
}

html,
body {
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
  border: 2px solid darkgreen;
  border-radius: 20px;
  background-color: antiquewhite;
  color: brown;
  font-weight: bold;
  font-size: 17px;
}

img[src] {
  height: 150px;
  width: 150px;
  padding-bottom: 0px;
}

header {
  margin: 0px;
  background-image: url(/images/backgroundphoto.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  font-size: 65px;
  padding-top: 75px;
  color: white;
}
#margin-quote-1 {
  padding-top: 30px;
  margin-top: 0px;
}

.home-square1 {
  background-color: rgb(65, 65, 61);
  color: lightgrey;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

.homecards {
  display: inline-flex;
  width: 50%;
  height: 500px;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

h2 {
  font-size: 30px;
}

h2:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

h3 {
  font-size: 25px;
}

h3:hover {
  color: green;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.goallist li {
  list-style-type: none;
  text-align: center;
  font-size: 22px;
}

#locs {
  border: 3px solid gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#career {
  border: 3px solid gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#skillhabit {
  border: 3px solid gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#travel {
  border: 3px solid gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#aesthetics {
  display:inline-flex;
  border: 3px solid gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#finances {
  border: 3px solid gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#fitnesshealth {
  border: 3px solid gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}
