* {
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: rgb(112, 67, 4);
}

html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: beige;
  background-size: cover;
  color: black;
  text-align: left;
  padding: 25px;
  font-size: 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  list-style-type: none;
  display: inline;
  padding-right: 2.22rem;
  font-weight: bold;
}

/* .navbar ul {
  border: 1px solid slategray;
  border-radius: 10px;
  padding-left: 0px;
  color: black;
} */

.card {
  padding: 2em;
  border: 2px solid darkgreen;
  border-radius: 20px;
  background-color: antiquewhite;
  color: brown;
  font-weight: bold;
  font-size: 17px;
}

img[src] {
  height: 150px;
  width: 150px;
  padding-bottom: 0px;
}

header {
  margin: 0px;
  background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_571,q_80,w_1603/v1/clients/raleigh/165_3_0042_jpeg_a32ab91e-8245-42f1-baa2-36a6f2a54dbb.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 850px;
  font-size: 65px;
  padding-top: 75px;
  color: white;
  opacity: 0.85;
}

/* video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; */

h2 {
  font-size: 30px;
}

h2:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

h3 {
  font-size: 25px;
}

h3:hover {
  color: green;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.goallist li {
  list-style-type: none;
  text-align: center;
  font-size: 22px;
}

#locs {
  border: 3px dotted gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-top: 150px;
  padding-bottom: 15px;
}

#career {
  border: 3px dotted gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#skillhabit {
  border: 3px dotted gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#travel {
  border: 3px dotted gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#aesthetics {
  border: 3px dotted gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#finances {
  border: 3px dotted gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}

#fitnesshealth {
  border: 3px dotted gainsboro;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 15px;
}
